body{
    background-color: skyblue;
}

.white-text{
    color: white;
}

img{
    width: 100px;
}

.centered{
    text-align: center;
}

ol{
    text-align: left;
    width: 400px;
    margin: 0 auto;
}

.big-text{
    font-size: 1.5em;
    width: 300px;
    margin: 0 auto;
}

main{
    max-width: 600px;
    margin: 0 auto;
}
